#alertBox, #div_promptAdminPasswordBox
{
    display: none;
    z-index:10;
    background-color: #241f20;
    border-radius: 5px;
    border: 3px solid white;
    position: fixed;
    width: 300px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}
#alertBox button {
    background-color: #ccc;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    text-align: center;
    width: 80px;
    cursor: pointer;
}
#alertBox button:hover
{
    background-color: #ddd;
}
#alertBox .message, #div_promptAdminPasswordBox .message, #adminAlertBox .message
{
    text-align: center;
    color: white;
    margin-bottom: 8px;
}

#adminAlertBox
{
    display: none;
    z-index:10;
    background-color: #644B26;
    border-radius: 5px;
    border: 3px solid white;
    position: fixed;
    width: 300px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}



