#alertBox, #div_promptAdminPasswordBox
{
    display: none;
    z-index:99;
    background-color: #241f20;
    border-radius: 5px;
    border: 3px solid white;
    position: fixed;
    width: 300px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}
#alertBox button {
    background-color: #ccc;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    text-align: center;
    width: 80px;
    cursor: pointer;
}
#alertBox button:hover
{
    background-color: #ddd;
}
#alertBox .message, #div_promptAdminPasswordBox .message, #adminAlertBox .message, #div_confirmAdminDownloadBox .message
{
    text-align: center;
    color: white;
    margin-bottom: 8px;
}

#adminAlertBox, #div_confirmAdminDownloadBox
{
    display: none;
    z-index:99;
    /*background-color: #7a0019;*/
    /* background-color: #644B26; */
    background-color:  slategrey;  /* #0F52BA */
   /* background-color: #a49561;*/
   /* background-image: linear-gradient(#a49561ff, #474747ff); */   
    border-radius: 5px;
    border: 2px solid white;
    outline: 2px solid black;
    position: fixed;
    width: 340px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}

#div_downloadFileProgress {
    display: none;
    z-index:99;
    /*background-color: #7a0019;*/
    /* background-color: #644B26; */
    background-color:  whitesmoke;  /* #0F52BA */
   /* background-color: #a49561;*/
   /* background-image: linear-gradient(#a49561ff, #474747ff); */   
    border-radius: 5px;
    border: 2px solid white;
    outline: 2px solid black;
    position: fixed;
    width: 320px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}

.admin_gradient {
	background-image: linear-gradient(slategrey, #36454F);
}

#updatesAlertBox
{
    display: none;
    z-index:10;
    color: white;
    /*background-color: #7a0019;*/
    background-color: #575757;
   /* background-color: #a49561;*/
   /* background-image: linear-gradient(#a49561ff, #474747ff); */   
    border-radius: 5px;
    border: 2px solid white;
    outline: 2px solid black;
    position: fixed;
    width: 320px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}

#div_fileDownloadDialogue
{
    display: none;
    z-index:99;
    /* background-color: #7a0019; */
    background-color: #0F52BA;
    color: white;
   /* background-color: #a49561;*/
   /* background-image: linear-gradient(#a49561ff, #474747ff); */   
    border-radius: 5px;
    border: 2px solid white;
    outline: 2px solid black;
    position: fixed;
    width: 340px;
    left: 50%;
    top: 18%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}

#div_updateURLDialogue {
	display: none;
    z-index:10;
    color: #f5f5f5;
    /*background-color: #7a0019;*/
   /* background-color: slategrey;    #644B26 */
   /* background-color: #a49561; */
	background-image: linear-gradient(slategrey, #36454F);
    border-radius: 5px;
    border: 2px solid white;
    outline: 2px solid black;
    position: fixed;
    width: 1200px;
    left: 50%;
    top: 50%;
    margin-left: -600px;
    padding: 8px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}


#div_addStudyHelp
{
    display: none;
    text-align: left;
    z-index:99;
    /* background-color: #7a0019; */
    background-color: #0F52BA;
    color: white;
   /* background-color: #a49561;*/
   /* background-image: linear-gradient(#a49561ff, #474747ff); */   
    background-image: linear-gradient(slategrey, #36454F);
    border-radius: 5px;
    border: 2px solid white;
    outline: 2px solid black;
    position: fixed;
    width: 830px;
    left: 50%;
    top: 20%;
    margin-left: -420px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}


#div_updateStudyHelp
{
    display: none;
    text-align: left;
    z-index:99;
    /* background-color: #7a0019; */
    background-color: #0F52BA;
    color: white;
   /* background-color: #a49561;*/
   /* background-image: linear-gradient(#a49561ff, #474747ff); */   
    background-image: linear-gradient(slategrey, #36454F);
    border-radius: 5px;
    border: 2px solid white;
    outline: 2px solid black;
    position: fixed;
    width: 830px;
    left: 50%;
    top: 20%;
    margin-left: -420px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}


hr.updates {
	color: white;
	padding: 0px;
    margin: 0px;    
}

h6.updatesAlert {
	color: white;
}



