
/*
.range {
	background: #fff;
	height: 2rem;
	width: 55%;
	border-radius: 5rem;
	box-shadow: 1px 5px 5px rgba(black, 0.3);
	
	display: flex;
	align-items: center;
	justify-content: center;
}

input[type="range"]::-moz-range-track {
  padding: 0 10px;
  background: repeating-linear-gradient(to right, 
    #ccc, 
    #ccc 10%, 
    #000 10%, 
    #000 11%, 
    #ccc 11%, 
    #ccc 20%);
}
*/

.aligncenter {
    text-align: center;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button.downloader, button.copy {
   border:none;
   background-color:Transparent;
   outline:none;
}

button.downloader:active, button.copy:active {
  background: #3282d3;
  border: 1px solid #154c8c;
  border-bottom: 1px solid #0e408e;
  -moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
  -webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
  text-shadow: 0 -1px 1px #2361a4;
}


h2.tipToTheLeft:hover {
	cursor: help;
    position: relative;
}

h2.tipToTheLeft span {
    display: none;
    font-size: 10pt;
    text-align: left;
    padding: 3px;
}

td.tipToTheLeft:hover span, th.tipToTheLeft:hover span, h2.tipToTheLeft:hover span {
   <!-- border: #c0c0c0 1px dotted; -->
    padding: 5px 20px 5px 5px;
    display: block;
    Background: linear-gradient(#b6d7a8, #9fc5e8);
    z-index: 100;
   <!--  background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;  -->
    left: 0px;
    margin: 10px;
    width: 336px;
    position: absolute;
  <!-- jjf  top: 10px; -->
    text-decoration: none
    <!-- next 2 lines added by jjf -->
     top: -5px;
    left: 56%; 
}

 input[type=range]::-moz-range-track {
  border-radius: 8px;
  height: 7px;
  border: 1px solid #bdc3c7;
  background-color: lightgrey;
}
 input[type=range]::-moz-range-thumb {
 /*
  background: #BBDDFF;
 */
  background: #1589FF;
  border: 1px solid #bdc3c7;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  cursor: pointer;
}

/*
input[type=range]:focus {
  outline: none;
}
*/

#div_errorStackTrace {
	display: none;
	white-space: -moz-pre-wrap;
}

#errorBox
{
    display: none;
    background-color: lightgrey;
    border-radius: 5px;
    border: 1px solid #aaa;
    position: relative;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
    /* overflow-y: scroll; */
}
#errorBox button {
    background-color: black;
    color: white;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    text-align: center;
    width: 120px;
    cursor: pointer;
}
#errorBox .message
{
    text-align: center;
    color: red;
    margin-bottom: 8px;
}

textarea { font-size: 10px;
           resize: none;
 }
 
 #midb_header {

    font-family: 'Amaranth';font-size: 22px;
}



